In [1]:
import pandas as pd
import numpy as np
import openpyxl as pxl

Reference links:
- https://www.icccricketschedule.com/vivo-ipl-2020-schedule-team-venue-time-table-pdf-point-table-ranking-winning-prediction
- https://sportspages.in/cricket/ipl/ipl-stat
- https://www.iplt20.com/stats/2019/player-points

### Part-1.....Workbook created of name 'IPL_2020_UAE'

In [167]:
Team = pd.read_html('https://www.icccricketschedule.com/vivo-ipl-2020-schedule-team-venue-time-table-pdf-point-table-ranking-winning-prediction/')

In [168]:
TD = Team[0]
TD.head()

,Match No,Match Center,Date,Day,Time India (IST),Time UAE,Venuue
0,1,Mumbai Indians (MI) Vs Chennai Super Kings (CSK),19 September 2020,Saturday,7:30 PM IST,6:00 PM UAE,ABU DHABI
1,2,Delhi Capitals (DC) Vs Kings XI Punjab (KXIP),20 September 2020,Sunday,7:30 PM IST,6:00 PM UAE,DUBAI
2,3,Sun Risers Hyderabad (SRH) Vs Royal Challenger...,21 September 2020,Monday,7:30 PM IST,6:00 PM UAE,DUBAI
3,4,Rajasthan Royals (RR) Vs Chennai Super Kings (...,22 September 2020,Tuesday,7:30 PM IST,6:00 PM UAE,SHARJAH
4,5,Kolkata Knight Riders (KKR) Vs Mumbai Indians ...,23 September 2020,Wednesday,7:30 PM IST,6:00 PM UAE,ABU DHABI

In [169]:
with pd.ExcelWriter('IPL_2020_UAE.xlsx') as writer:
    TD.to_excel(writer, sheet_name='Schedule', index=False)

In [215]:
check = pd.read_excel('IPL_2020_UAE.xlsx')

In [216]:
check.head()

,Match No,Match Center,Date,Day,Time India (IST),Time UAE,Venuue
0,1,Mumbai Indians (MI) Vs Chennai Super Kings (CSK),19 September 2020,Saturday,7:30 PM IST,6:00 PM UAE,ABU DHABI
1,2,Delhi Capitals (DC) Vs Kings XI Punjab (KXIP),20 September 2020,Sunday,7:30 PM IST,6:00 PM UAE,DUBAI
2,3,Sun Risers Hyderabad (SRH) Vs Royal Challenger...,21 September 2020,Monday,7:30 PM IST,6:00 PM UAE,DUBAI
3,4,Rajasthan Royals (RR) Vs Chennai Super Kings (...,22 September 2020,Tuesday,7:30 PM IST,6:00 PM UAE,SHARJAH
4,5,Kolkata Knight Riders (KKR) Vs Mumbai Indians ...,23 September 2020,Wednesday,7:30 PM IST,6:00 PM UAE,ABU DHABI

### Part-2.....To add multiple excel sheet  to Workbook of name 'IPL MVP Stats'

In [92]:
data = pd.read_html('https://sportspages.in/cricket/ipl/ipl-stat/')

In [93]:
df1 = data[0]
df1.head()

   Year         Player                         Team  Runs  Wickets
0  2019  Andre Russell        Kolkata Knight Riders   510       11
1  2018   Sunil Narine        Kolkata Knight Riders   357       17
2  2017     Ben Stokes      Rising Pune Supergiants   316       12
3  2016    Virat Kohli  Royal Challengers Bangalore   973        0
4  2015  Andre Russell        Kolkata Knight Riders   326       14

In [94]:
df2 = data[1]
df2.head()

,Year,Orange Cap,Most Sixes,Highest Score
0,2019,David Warner - 692 Runs (SRH),Andre Russell - 52 (KKR),Jonny Bairstow - 114 (SRH)
1,2018,Kane Williamson - 735 Runs (SRH),Rishabh Pant - 37 (DD),Rishabh Pant - 128* (DD)
2,2017,David Warner - 641 Runs (SRH),Glenn Maxwell - 26 (KXP),David Warner - 126 (SRH)
3,2016,Virat Kohli - 973 Runs (RCB),Virat Kohli - 38 (RCB),AB de Villiers - 129 (RCB)
4,2015,David Warner - 562 Runs (SRH),Chris Gayle - 38 (RCB),AB de Villiers - 133* (RCB)

In [95]:
df3 = data[2]
df3.head()

,Year,Purple Cap,Best Bowling Figures,Best Economy
0,2019,Imran Tahir - 26 Wk (CSK),Alzarri Joseph - 6/12 (MI),Rashid Khan - 6.28 rpo (SRH)
1,2018,Andrew Tye - 24 Wk (SRH),Ankit Rajpoot - 5/14 (KXP),Ish Sodhi - 5.86 rpo (RR)
2,2017,Bhuvneshwar Kumar - 26 Wk (SRH),Andrew Tye - 5/17 (GL),Mohammad Nabi - 5.27 rpo (SRH)
3,2016,Bhuvneshwar Kumar - 23 Wk (SRH),Adam Zampa - 6/19 (RPS),Mitchell Marsh - 5 rpo (RPS)
4,2015,Dwayne Bravo - 26 Wk (CSK),Ashish Nehra - 4/10 (CSK),Jayant Yadav - 4.14 rpo (DD)

In [96]:
with pd.ExcelWriter('IPL_MVP_Stats.xlsx') as writer:
    df1.to_excel(writer, sheet_name='MVP Player', index=False)
    df2.to_excel(writer, sheet_name='Batting Statistics', index=False)
    df3.to_excel(writer, sheet_name='Bowling Statistics', index=False)

In [217]:
check = pd.read_excel('IPL_MVP_Stats.xlsx', sheet_name=['MVP Player','Batting Statistics','Bowling Statistics'])

In [218]:
check['MVP Player'].head(3)

   Year         Player                     Team  Runs  Wickets
0  2019  Andre Russell    Kolkata Knight Riders   510       11
1  2018   Sunil Narine    Kolkata Knight Riders   357       17
2  2017     Ben Stokes  Rising Pune Supergiants   316       12

In [221]:
check['Batting Statistics'].head(3)

,Year,Orange Cap,Most Sixes,Highest Score
0,2019,David Warner - 692 Runs (SRH),Andre Russell - 52 (KKR),Jonny Bairstow - 114 (SRH)
1,2018,Kane Williamson - 735 Runs (SRH),Rishabh Pant - 37 (DD),Rishabh Pant - 128* (DD)
2,2017,David Warner - 641 Runs (SRH),Glenn Maxwell - 26 (KXP),David Warner - 126 (SRH)

In [222]:
check['Bowling Statistics'].head(3)

,Year,Purple Cap,Best Bowling Figures,Best Economy
0,2019,Imran Tahir - 26 Wk (CSK),Alzarri Joseph - 6/12 (MI),Rashid Khan - 6.28 rpo (SRH)
1,2018,Andrew Tye - 24 Wk (SRH),Ankit Rajpoot - 5/14 (KXP),Ish Sodhi - 5.86 rpo (RR)
2,2017,Bhuvneshwar Kumar - 26 Wk (SRH),Andrew Tye - 5/17 (GL),Mohammad Nabi - 5.27 rpo (SRH)

### Part-3.... Append to an existing excel workbook

In [122]:
data = pd.read_html('https://www.iplt20.com/stats/2019/player-points')

In [137]:
New_data = data[0]
New_data.head()

   POS            PLAYER    Pts  Mat  Wkts  Dots  4s  6s  Catches  Stumpings
0    1    Andre  Russell  369.0   14    11    61  31  52        4          0
1    2    Hardik  Pandya  342.0   16    14    94  28  29       11          0
2    3    Deepak  Chahar  274.5   17    22   190   1   0        2          0
3    4      Imran  Tahir  255.0   17    26   149   0   0        6          0
4    5  Quinton  de Kock  247.5   16     0     0  45  25       17          2

In [126]:
with pd.ExcelWriter('IPL_MVP_Stats.xlsx', engine='openpyxl', mode='a') as writer:
    New_data.to_excel(writer, sheet_name='player-points', index=False)

In [225]:
check = pd.read_excel('IPL_MVP_Stats.xlsx', sheet_name=None)
#if you use sheet_name=None , you can read in all the sheets in the workbook at one time.

In [226]:
check['player-points'].head(3)

   POS          PLAYER    Pts  Mat  Wkts  Dots  4s  6s  Catches  Stumpings
0    1  Andre  Russell  369.0   14    11    61  31  52        4          0
1    2  Hardik  Pandya  342.0   16    14    94  28  29       11          0
2    3  Deepak  Chahar  274.5   17    22   190   1   0        2          0